#main {
	width: 1024px;
	border: 0px 1px 0px 1px solid rgb(100, 100, 100);
	margin: 0px auto;
	padding: 20px;
	box-shadow:  10px 0px 10px -5px rgb(100,100,100), -10px 0px 10px -5px rgb(100,100,100);
	min-height: 100%;
	background-color: white;
}

.rainbow-text {
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
	color: transparent
 }

.section {
	font-weight: bold;
	margin: 4px;
	margin-left: 0px;
	padding: 0px;
	padding: 10px;
	border: 2px solid rgb(100,100,100);
	border-left: 0px;
	border-right: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.warning {
	border: 2px solid rgb(100,100,100);
	background-color: rgb(240,240,240);
	padding:20px;
}


.code {
	border: 1px dashed rgb(100,100,100);
	background-color: rgb(220,220,220);
	font-family: monospace;
	padding:20px;
	overflow-x: auto;
	white-space: nowrap;
}

pre {
	border: 1px dashed rgb(100,100,100);
	background-color: rgb(220,220,220);
	font-family: monospace;
	padding:20px;
	overflow-x: auto;
	padding-bottom: 0px;
}


.subsection {
	font-weight: bold;
	margin: 4px;
	margin-left: 0px;
	padding: 0px;
	border-bottom: 2px solid rgb(100,100,100);
	padding:5px;
	padding-left: 0px;
	margin-bottom:5px;
}


.snippet {
	font-family: monospace;
	border: 1px solid rgb(150,150,150);
	padding:3px;
	color:rgb(10,10,10);
	margin-left:3px;
	margin-right:3px;
}

.title {
	font-weight: bold;
	margin: 4px;
	margin-left: 0px;
	padding: 0px;
	font-size: 24px;
}


.divider {
	width: 100%;
	height: 1px;
	border: 1px solid rgb(100,100,100);
	margin: 10px;
	margin-left: 0px;
	background-color: rgb(100,100,100);
}

.centered {
	display: block;
	margin: 0px auto;
	margin-top:30px;
	margin-bottom:30px;
	max-width:90%;
}

body {
	margin: 0px;
	font-family: 'Helvetica', 'Arial';
	color: rgb(80,80,80);
	background-image: url("./imgs/bg.png");
	background-attachment: fixed;
	line-height: 140%;
}




html {
	height: 100%;
}


.button {
	display: block;
	margin: 10px;
	border: 1px solid rgb(100,100,100);
	border-radius: 5px;
	padding: 10px;
	margin-left: auto;
	margin-right: 10px;
	display: inline;
	float: right;
}

.button:hover{
	background-color: rgb(200,200,200);
	cursor: pointer;
}


.spoilerbutton {
	display: block;
	margin: 0px;
	margin-left:5px;
	margin-bottom: -5px;
	border-radius: 5px 5px 0px 0px;
	padding:10px;
	border: 1px solid rgb(100,100,100);
	border-bottom: 0px;
	z-index: 5;	
  }
  
  .spoiler {
	overflow: hidden;
	background: #f5f5f5;
	margin-bottom: 20px;
  }
  
  .spoiler>div {
	overflow: hidden;
	transition: all 1s ease;
	padding: 15px;
  }
  
  .spoilerbutton[value="Show"]+.spoiler>div {
	max-height: 0;
	
	border: 1px solid rgb(240,240,240);
  }
  
  .spoilerbutton[value="Hide"]+.spoiler>div {
	max-height: 999999px; /*use a big value here*/

	border: 1px solid rgb(100,100,100);
  }


  .to_be_continued {
	
	margin-left:auto;
	margin-right: 0px;
	margin-top: -50px;

	width: 250px;
	height: 100px;
	background-image: url(imgs/to_be_continued.png);
	background-size: cover;

  }


  /* unvisited link */
a:link {
	color: rgb(119, 159, 218);
  }
  
  /* visited link */
  a:visited {
	color: rgb(99, 139, 198);
  }
  
  /* mouse over link */
  a:hover {
	color: rgb(129, 169, 228);
  }
  